@for $i from 1 through $grid-column-count {
    td.large-#{$i},
    th.large-#{$i} {
        width: -zf-grid-calc-px($i, $grid-column-count, $global-width);
        padding-left: $global-gutter / 2;
        padding-right: $global-gutter / 2;
    }
    td.large-#{$i}.first,
    th.large-#{$i}.first {
        //   padding-left: $global-gutter;
        padding-left: 0
    }
    td.large-#{$i}.last,
    th.large-#{$i}.last {
        //   padding-right: $global-gutter;
        padding-right: 0
    }
}

$hr-width: $global-width;
$hr-border: 1px solid red;
$hr-margin: 60px auto;