<container>
  <spacer size="24"></spacer>
  <row>
    <columns large="6" small="12">
      <h3 class="header-heading">Бесплатное мобильное приложение</h3>
      <p>Полноценный поиск недвижимости, уведомления о новых объявлениях и избранное</p>
      <menu align="left" class="menu-apps">
        <item href="http://zurb.com"><a href="123">
            <img class="button-appmarket" src="https://raw.githubusercontent.com/rmnturov/red-emails/master/dist/assets/img/appstore@2x.png" alt="N1.RU" width="120" alt="Установить из AppStore">
          </a></item>
        <item href="http://zurb.com"><a href="123">
            <img class="button-appmarket" src="https://raw.githubusercontent.com/rmnturov/red-emails/master/dist/assets/img/google-play@2x.png" alt="N1.RU" width="120" alt="Установить из Google Play">
          </a></item>
      </menu>
      <spacer size="24"></spacer>
    </columns>
    <columns large="6" small="12" valign="bottom">
      <img style="margin-bottom: 0;" class="float-right small-float-left" src="https://raw.githubusercontent.com/rmnturov/red-emails/master/dist/assets/img/mobile-apps.jpg"
        alt="Приложение N1.RU на iOS и Android" width="216" height="275">
    </columns>
  </row>
  <hrline></hrline>
  <spacer size="24"></spacer>
  <row>
    <columns large="12">
      ООО «Н1 Технологии»<br>630099, г. Новосибирск, ул. Депутатская, д. 46, этаж 5<br>
      <spacer size="6"></spacer>
      <menu align="left" class="small-vertical">
        <item href="http://zurb.com"><a href="123">Политика конфиденциальности</a></item>
        <item href="http://zurb.com"><a href="123">Служба поддержки</a></item>
      </menu>
    </columns>
  </row>
  <spacer size="24"></spacer>
  <hrline></hrline>
  <spacer size="24"></spacer>
  <row>
    <columns large="12">
      <a href="123">Отписаться от рассылки</a>
    </columns>
  </row>
  <spacer size="42"></spacer>
</container>