<container>
  <spacer size="18"></spacer>
  <row>
    <columns large="6" small="12">
      <h2>Бесплатное мобильное приложение</h2>
      <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Переписывается, бросил своего
        переписали грамматики подзаголовок свой заманивший ipsum знаках!</p>
      <a href="123">
        <img src="http://placehold.it/120x36/663399" alt="N1.RU">
      </a>
    </columns>
    <columns large="6" small="12">
      <img class- "float-right small-float-center" src="../assets/img/mobile-apps.jpg" alt="N1.RU" width="216" height="275">
    </columns>
  </row>
  <spacer size="18"></spacer>
  <hr>
  <spacer size="18"></spacer>
  <row>
    <columns large="12">
      ООО «НГС Технологии»<br> 630099, г. Новосибирск, ул. Депутатская, д. 46, этаж 5<br>
      <a href="123">Политика конфиденциальности</a> <a href="123">Служба поддержки</a>
    </columns>
  </row>
  <spacer size="18"></spacer>
  <hr>
  <spacer size="18"></spacer>
  <row>
    <columns large="12">
      <a href="123">Отписаться от рассылки</a>
    </columns>
  </row>
  <spacer size="42"></spacer>
</container>