<container>
    <spacer size="18"></spacer>
    <row>
        <columns large="6" small="12">
            <a href="">
              <img width=107 height=45 
              src="../assets/img/logo-tagline-email@2x.png" 
              alt="N1.RU">
            </a>
        </columns>
        <columns large="6" small="12">
            <p class="text-right small-text-left">
                Не открывается письмо?<br>
                <a href="#">Открыть в бразуере</a>
            </p>

        </columns>

    </row>
    <spacer size="18"></spacer>
    <spacer class=" spacer hr" size="1"></spacer>
</container>