<container>
    <spacer size="18"></spacer>
    <row>
        <columns large="6" small="5">
            <a href="123">
                <img class="header-logo" width="107" src="https://raw.githubusercontent.com/rmnturov/red-emails/master/dist/assets/img/logo-tagline-email%402x.png" alt="N1.RU">
            </a>
        </columns>
        <columns large="6" small="7" valign="middle">
            <p class="header_browser-link text-right small-text-right">
                Не открывается письмо?<br>
                <a href="#">Смотреть в бразуере</a></p>
        </columns>
    </row>
    <spacer size="18"></spacer>
    <hrline></hrline>
</container>