<container>
    <spacer size="18"></spacer>
    <row>
        <columns large="6" small="12">
            <a href="">
              <img src="http://placehold.it/107x45/663399" alt="N1.RU">
            </a>
        </columns>
        <columns large="6" small="12">
            <p class="text-right small-text-left">
                Не открывается письмо?<br>
                <a href="#">Открыть в бразуере</a>
            </p>
        </columns>
    </row>
    <spacer size="18"></spacer>
</container>