<container class="nav-container">
  <spacer size="12"></spacer>
  <row>
    <columns>
      <menu align="left" class="small-vertical">
        <item href="http://zurb.com">Продажа</item>
        <item href="http://zurb.com">Аренда</item>
        <item href="http://zurb.com">Новостройки</item>
        <item class="show-for-large" href="http://zurb.com">Статьи</item>
        <item href="http://zurb.com">Избранное</item>
        <!-- <item href="http://zurb.com">Подписки</item> -->
      </menu>
    </columns>
  </row>
  <spacer size="12"></spacer>
  <hrline></hrline>
</container>